body {
    background-color: #f4f5f7;
}

.content {
}
.calendar_widget {
    display: block;
    height: 275px;
}
.full_date_persian {
    font-family: Tahoma,serif;
    direction: rtl;
    text-align: center;
}
.full_date_gregorian {
    text-align: center;
}